<%= form_for(@googlecontact) do |f| %>
  <% if @googlecontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@googlecontact.errors.count, "error") %> prohibited this googlecontact from being saved:</h2>

      <ul>
      <% @googlecontact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
